body {
	background-color: #F5DEB3;
    
    
}

h1 {
	color: #8B0000;
	font-size: 50px;
	text-align: center;
}

p {
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
}
header{
    background: #8B0000;
    padding: 20PX;
    max-height: 90;
    text-align: center ;
    background-image: url(img/fnd.gif);
}
#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #330202;
    border-radius:10px;
    width:300px;
    height:32px;
    float: inline-end;
    text-align: center;
    height: 32px;
    width: 316px;
  }
  
  #busca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #botão{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#6d0909;
  }
  
  #divBusca img{
    float:left;
    max-width: 15%;

  }
  
.logoimg{
    max-width: 0px;
    padding: 0px;
}
.menu{
    text-align: center ;
    
}
.menu ul{
	list-style-type: none;
	margin: 0px;
    padding: 0px;
}
.menu li{
    display: inline-block;
    padding: 20px;
    margin-right: 20;
}
.menu li:last-child{
    margin-right: 0;
}
.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
.curupira{
    border: black; 
    background-color: antiquewhite;
    width: 60%;
    padding: 50px;
    margin: 0% 17% 5% 15%;
    display: inline-block;
    text-align: center;
    justify-content: center;
}
.nome{
    color: #6d2828;
}
img{
    mix-blend-mode: multiply;
    text-align: center;
}
.td{
    font-size: larger;
}
.menu li a:hover{
    background-color: rgba(56, 53, 53, 0.518);
}
.footer-distributed {
    background-color: #292c2f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 45px 50px;
}
  
.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
.footer-distributed p.footer-links {
    font-size: 18px;
    color: #ffffff;  
  }
  
  .footer-distributed p.footer-links a {
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-links a:before {
    content: "·";
    padding-right: 5px;
} 
.curupira h3{
    cursor: pointer;
}