body{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: 
    "cabeçalho cabeçalho cabeçalho"
    "lat  meio meio"
    "finau finau finau";
}
.grad_a{
    grid-area: cabeçalho;
    background-color: blue;
    padding: 50px;
}
.grad_b{
    grid-area: lat;
    background-color: blueviolet;
    padding: 20px;
}
.grad_c{
    grid-area: meio;
    background-color: brown;
    padding: 50px;
}
.grad_d{
    grid-area: finau;
    background-color: aqua;
    padding: 50px;
}